// LargeVariants above 100px
$large: 200px;
$largeVariantOne: 175px;
$largeVariantTwo: 135px;
$largeVariantThree: 125px;
$largeVariantFour: 100px;

// MediumVariants between 25-99px
$largeMedium: 90px;
$medium: 75px;
$mediumVariantOne: 50px;
$mediumVariantTwo: 30px;
$mediumVariantThree: 25px;

// SmallVariants between 1-24px
$small: 20px;
$smallVariantOne: 15px;
$smallVariantTwo: 10px;
$smallVariantThree: 5px;
